root = true

# Unix-style newlines with a newline ending every file
[*]
quote_type = single
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Set default charset
#[*.{js,json}]
#charset = utf-8

# 2 space indentation
[*.js]
indent_style = space
indent_size = 2

# 2 space indentation
[*.json]
indent_style = space
indent_size = 2

